# Project
project/addons/geqo/bin/

# Godot 4+ specific ignores
project/.godot/
project/android/
export.cfg
export_presets.cfg

# Object
.scons-cache/
*.os
*.obj
*.o

# Sconstruct
.sconsign.dblite

# Editors
.vscode/
compile_commands.json
vc140.pdb
